# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore everything inside .streamlit except config.toml
.streamlit/*
!.streamlit/config.toml

# Ignore log and user data files
logs/
users.csv

# Ignore virtual environment folders
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
